<% provide(:title, t(:help_title)) %>
<h1><%= t(:help_title) %></h1>

<p>
  <%= t(:help_subtitle_prefix) %>
  <a href="http://oneboxapp.com"><%= t(:help_subtitle_link) %></a>
  <%= t(:help_subtitle_suffix) %>
</p>
